#pageContainer {
	margin: 0px auto 0px auto; /* centro todo */
	width: 1024px;
	padding-top: 10px;
}

#pageHeader {
	height:100px;
	position:relative;
	background: #64D28B;
}

#contentContainer {
	padding-top: 10px;
}

/*******CONTAINER************/
#pageNav{
	float:left;
	background: orange;
	width: 50%;
	height: 100%;
	margin-bottom:1%;

}

#pageSection {
	float:left;
	background: #4EA9B5;
	width: 43%;
	margin-left:1%;		/* separacion */
	height: 100%;
	padding-bottom: 20px
}

/******END CONTAINER*********/

.textAling {
	text-align: center;
	font-size: 46px;
}

.textBox {
	width: 100%;
}

.textPlace {
	padding: 15px 15px 0px 15px;
}